.cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
    background: #66bf3c;
    @apply bg-amber-600
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}


.title {
    @apply font-bold text-gray-900 bg-red-500;
}
